Library/metadata/
obj/Debug/
Temp/
Library/EditorInstance.json
Library/CurrentLayout.dwlt
Library/expandedItems
Library/ScriptAssemblies/
Library/StateCache/

.vs/
Library/CrashedAssetImports.txt
*.meta
Library/shadercompiler-UnityShaderCompiler.exe0.log
*.log
